<h1>Team Portfolio</h1>

<h2>{{member.user}}</h2>
<ul>
  <li><strong>{{member.fname}} {{member.lname}}</strong> - {{member.year}}</li>
  <img src={{member.img}} alt="Christopher Afonso" />
  <p>Chris is a Computer Science major attending the University of Massachusetts - Amherst. He enjoys hacking around with various hardware and software projects in his spare time. My Background is mainly in C-Type languages, using an object-oriented paradigm.</p>
  <h1>Current Contributions</h1>
  <p><ul>
<li>About Page and associated route handling</li>
<li>More to come.</li>
</ul>
</ul>
