<h1>Team Portfolio</h1>

<h2>{{member.user}}</h2>
<ul>
  <li><strong>{{member.fname}} {{member.lname}}</strong> - {{member.year}}</li>
  <img src={{member.img}} alt="Meadowlark Travel" />
</ul>

<p>Christopher Alfonso is a junior at the University of Massachusetts Amherst and in charge of UI development. He uses data which can be retrieved from the back end to create a working and generally aesthetically and functionally pleasing representation for the end user.</p>