<h1>Team Portfolio</h1>

<h2>{{member.user}}</h2>
<ul>
  <li><strong>{{member.fname}} {{member.lname}}</strong> - {{member.year}}</li>
  <img src={{member.img}} alt="Meadowlark Travel" />
</ul>

<p>Charlie (Lee) Wongwajarachot is a senior at the University of Massachusetts Amherst and is working on the login and the security of the user's account and information. He dealt with Java and C in the past but never JavaScript. Also first time user of GitHub so it's a new experience for him</p>
