<h1>Team Portfolio</h1>

<h2>{{member.user}}</h2>
<ul>
  <li><strong>{{member.fname}} {{member.lname}}</strong> - {{member.year}}</li>
  <img src={{member.img}} alt="Meadowlark Travel" />
</ul>

<p>Charlie (Lee) Wongwajarachot is a senior at the University of Massachusetts Amherst and in charge of the login and the security of the user's account and information.</p>
