<h1>Team Portfolio</h1>

<h2>{{member.user}}</h2>
<ul>
  <li><strong>{{member.fname}} {{member.lname}}</strong> - {{member.year}}</li>
  <img src={{member.img}} alt="Meadowlark Travel" />
</ul>

<p>Senh Wang is a senior at the University of Massachusetts Amherst and in charge of running tests to make sure all the implementations are working correctly. He is also focused on increasing performance of the search and sorting methods for stocks. In the past, he has worked on projects involving Java, C, and Python. He considers Python his favorite programming language.</p>