<h1>Team Portfolio</h1>

<h2>Umass Stock Analyzer is a website to help you view, analyz stocks</h2>
<h2>Team Members</h2>
<h2>Total: ({{members.length}})</h2>
<ul>
  {{#each members}}
  <li><strong>{{this.fname}} {{this.lname}}</strong> - {{this.year}}</li>
  <li><strong>{{this.img}} {{this.lname}}</strong> - {{this.year}}</li>
  <img src="/img/rsz_qiwen.png" alt="Meadowlark Travel" />
  {{/each}}
</ul>