<h1>User Profile</h1>

<h2>{{sessionuser.name}}'s User Profile</h2>

<ul>
  <li><br>Username:</br><strong>{{sessionuser.name}}</strong></li>
  <h1>Watchlist Items</h1>
      <br>Tickers:{{stocks}}</br>
  <p>
<ul>
  <br>Watchlist Activity sourced from edulifeline</br>
 <iframe src="http://edulifeline.com/includes/stocks_widget/?presets={{stocks}}" height="322px" width="250px" frameborder="0" scrolling="0"></iframe>
<p> Charts for each watchlist item: sourced from FinViz</p>

{{#each stocks}}
    <iframe src="http://finviz.com/chart.ashx?t={{this}}&ty=c&ta=1&p=d&s=l" height="340px" width="700px" frameborder="0" scrolling="0"></iframe>
{{/each}}

<p>Barchart Opinion Data</p>
{{#each stocks}}
    <script type="text/javascript" src="https://www.barchart.com/widget.js?uid=01b97098820e94adfd12089d6219409e&widgetType=bcopinion&widgetWidth=300&fontColor%5Blinks%5D=004376&font=1&symbol={{this}}&fields%5B%5D=name&fields%5B%5D=symbol&fields%5B%5D=last&fields%5B%5D=change&fields%5B%5D=pctchange&displayChars="></script>
{{/each}}

<p></p>
<h4>Add a watchlist Item</h4>
<form method="post" action="/user/tickeradd">
  Ticker: <input type="text" name="tickeradd"> <br>
    <br>
  <button>Add Ticker</button>
</form>
<p></p>
<h4>Remove a watchlist Item</h4>
<form method="post" action="/user/tickerremove">
  Ticker: <input type="text" name="tickerremove"> <br>
    <br>
  <button>Remove Ticker</button>
</form>
<p></p>
<p></p>
  

<!-- Comments
You will have to modify the post action perhaps.
Don't forget that these fields need to be added to user.js
What are we adding here? (Page will contain what?)
Properties to be displayed: 
Watchlist -> stocks to persist -> to be stored in DB
Name -> User Information
Password
Maybe the ability to change password.
Relevant Chart -> pulled from (https://www.tradingview.com/widget/) via iframe.
related stock data (this will come via external api's)


-->

